.BookResult_title {
  text-align: center;
  grid-area: header;
}

.BookResult_thumbnail {
  grid-area: thumbnail;
  justify-self: center;
  align-self: center;
  margin: 10px;
}

.BookResult_summary {
  grid-area: main;
  text-align: center;
  padding-right: 15px;
}

.BookResult {
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "thumbnail main main main";
}
